<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>FlyAway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>UserControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.flyaway.UserControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>UserControllerServlet</servlet-name>
  <url-pattern>/user</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>FlightControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.flyaway.FlightControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>FlightControllerServlet</servlet-name>
  <url-pattern>/flight</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PassengerControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.flyaway.PassengerControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>PassengerControllerServlet</servlet-name>
  <url-pattern>/passenger</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>PaymentControllerServlet</servlet-name>
  <servlet-class>com.simplilearn.flyaway.PaymentControllerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>PaymentControllerServlet</servlet-name>
  <url-pattern>/payment</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>





